.navbar {
	height: 3rem;
}

.ul_navbar {
	display: flex;
	justify-content: center;
	gap: 2rem;
	padding-right: 2rem;
	margin: 0;
	padding-top: 0.6rem;
}

.sections {
	list-style: none;
}

.sections > * {
	color: #202020;
	font-weight: 600;
	text-decoration: none;
}

.sections:hover {
	transform: scale(1.2);
}
